<!doctype html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Watch Face: Selfie Time</title>
  <meta name="description" content="">
  <meta name="author" content="Revan Sopher">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Watch Face: Selfie Time</h4>
        <ol>
          <li>Upload picture.</li>
          <li>Wait a minute.</li>
          <li>Get your custom face watch.</li>
        </ol>
        <form action="" method=post enctype=multipart/form-data>
            <p><input type=file name=file>
                <input class="button-primary" type=submit value=Upload></p>
        </form>

        <p class="u-pull-left">Revan Sopher 2015</p>
        <a class="u-pull-right" href="https://github.com/revan/watchface">GitHub!</a>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
